<%= simple_form_for(@deal,url: vendor_deal_index_path ) do |f| %>
  <div class="unit jumborton-bg">
    <h2> Add Deal </h2>
    <%= render partial: "deal", locals: {f: f} %>
    <div class="row">
      <div class='form-group col-xs-2'>
      <%= submit_tag "Add", data: { confirm: "Are you sure you want to submit" }, class: "btn btn-success btn-lg" %>
      </div>
      <div class='form-group col-xs-2'>
      <%= link_to "Cancel",root_url, class:"btn btn-warning btn-lg" %>
      </div>
    </div>
  </div>
<% end %>