<div class="row unit-block">
  <div class="span12 unit-bg">
    <div class="unit">
      <legend>
        <img src="">Eat & Drink Deals
      </legend>
      <ul class="nav nav-pills">
        <li class="active"><a href="list.html">All</a></li>
        <li><a href="list.html">Present Deals</a></li>
        <li><a href="list.html">Future Deals</a></li>
        <li><a href="list.html">Past Deals</a></li>
        <li><a href="list.html">Reviews</a></li>
      </ul>
      <div class="unit">
        <%= form_tag root_path, method: :get do %>
          <div class="field">
            <%= text_field_tag :search, params[:search], placeholder: 'Enter deal name' %>
            <%= submit_tag "Deal Search", name: nil, class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% if @deals.present? %>
  <div class="row">
    <div class="span12">
      <ul class="thumbnails">
        <% @deals.each do |deal| %>
          <li class="span3">
            <div class="thumbnail unit-bg">
              <%=link_to image_tag(deal.image.url(),size: "300x140"),deal_path(deal) %>
              <div class="caption">
                <h2><%= deal.name %></h2>
                <p>
                  <%= link_to(image_tag("view.png",title: "view"), deal_path(deal))%>
                  <%= modify(deal) %>
                </p>
                <p>
                  <span class="help-inline text-highlight-small">
                    $<%=deal.current_amount %>
                  </span>
                  <span class="help-inline text-strike">
                    $<%=deal.previous_amount %>
                  </span>
                </p>
                <hr>
                <p id="sold_coupons"><%= deal.sold_coupons%> Purchased
                <p id="remaning_coupons"><%= deal.available_coupons - deal.sold_coupons %> Remaning
                <%= deal_expiry(deal) %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% else %>
  <strong class="text-center"> No deals found </strong>
<% end %>
