<div class="modal fade", id="signup_id">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
       <%= link_to("Signup",new_user_registration_path, class: "btn btn-success",data: {dismiss: "modal", remote: true}, aria: {hidden: "true"}) %>
      </div>
</div><!-- /.modal -->
