<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Contact Us | Dealstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Le styles -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="assets/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="assets/app/css/style.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
    <div class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-form well pull-right unit-bg">
                <div class="login-input pull-left">
                    <input class="span2" type="text" placeholder="Email">
                    <input class="span2" type="password" placeholder="Password">
                </div>
                <ul class="signup nav pull-right">
                    <li>
                        <button type="submit" class="btn btn-primary">
                            Log in</button></li>
                    <li class="dropdown btn-group">
                        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            Sign up <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <form style="margin-bottom: 0">
                            <p>
                                <input type="text" placeholder="Email"></p>
                            <p>
                                <input type="password" placeholder="Password"></p>
                            <p>
                                <input type="text" placeholder="Username"></p>
                            <p>
                                <input class="btn btn-success" type="submit" value="Start"></p>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="well unit-bg">
                    <a href="list.html">
                        <img src="assets/app/img/logo.png" alt="logo" width="100%"></a>
                </div>
                <div class="well unit-bg">
                    <ul class="nav nav-list">
                        <li class="active"><a href="list.html"><i class="icon-asterisk"></i>&nbsp;Today's Deal</a></li>
                        <li><a href="list.html"><i class="icon-headphones"></i>&nbsp;Products</a></li>
                        <li><a href="list.html"><i class="icon-briefcase"></i>&nbsp;Escapes</a></li>
                        <li><a href="list.html"><i class="icon-tag"></i>&nbsp;Past Deals</a></li>
                        <li><a href="#"><i class="icon-comment"></i>&nbsp;Discussion</a></li>
                        <li class="divider"></li>
                        <li><a href="contact.html"><i class="icon-question-sign"></i>&nbsp;Help</a></li>
                    </ul>
                </div>
                <div class="well unit-bg">
                    <p>
                        <i class="icon-envelope"></i>&nbsp;Get Deal Alerts</p>
                    <div class="input-append">
                        <input class="span2" id="inputEmail" type="text" placeholder="Enter your email">
                        <button class="btn" type="button">
                            OK</button>
                    </div>
                </div>
                <div class="well unit-bg">
                    <p>
                        <i class="icon-heart"></i>&nbsp;Follow Us</p>
                    <ul class="unstyled social">
                        <li>
                            <div class="fb-like-box" data-href="http://www.facebook.com/pages/Twitter/278029242253904"
                                data-width="292" data-show-faces="false" data-stream="false" data-header="false">
                            </div>
                        </li>
                        <li>
                            <ul class="unstyled socialicons">
                                <li class="Facebook"><a href="#" title="Facebook">Facebook</a></li>
                                <li class="Twitter"><a href="#" title="Twitter">Twitter</a></li>
                                <li class="Pinterest"><a href="#" title="Pinterest">Pinterest</a></li>
                                <li class="RSS"><a href="#" title="RSS">RSS</a></li>
                                <li class="Email"><a href="#" title="Email">Email</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                <div class="row unit-block">
                    <div class="span9 unit-bg">
                        <div class="unit">
                            <legend>Contact Us</legend>
                            <div class="row page-content">
                                <div class="span6">
                                    <p>
                                        You want to contact us? The easiest way to contact us is to simply fill out the
                                        form below. For any specific questions/request, just send us an email!</p>
                                    <form class="form-horizontal">
                                    <div class="control-group">
                                        <label class="control-label" for="inputName">
                                            Name</label>
                                        <div class="controls">
                                            <input type="text" id="inputName">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputEmail">
                                            Email</label>
                                        <div class="controls">
                                            <input type="text" id="Text1">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputPhone">
                                            Phone</label>
                                        <div class="controls">
                                            <input type="text" id="inputPhone">
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputPhone">
                                            Concern</label>
                                        <div class="controls">
                                            <select>
                                                <option>Website/Technical Issue</option>
                                                <option>Payment Issue</option>
                                                <option>Refund</option>
                                                <option>Complaint</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <label class="control-label" for="inputMessage">
                                            Message</label>
                                        <div class="controls">
                                            <textarea id="inputMessage" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <div class="control-group">
                                        <div class="controls">
                                            <button type="submit" class="btn">
                                                Send</button>
                                        </div>
                                    </div>
                                    </form>
                                </div>
                                <div class="span3">
                                    <div class="well">
                                        <address>
                                            <strong>Dealstrap</strong><br>
                                            795 Folsom Ave, Suite 600<br>
                                            San Francisco, CA 94107<br>
                                            Tel no. (021) 123 - 1234<br>
                                            Fax no. (021) 123 - 1234<br>
                                            Email: <a href="mailto:#">support@website.com</a>
                                        </address>
                                        <iframe width="100%" height="200" frameborder="0" scrolling="no" marginheight="0"
                                            marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=twitter+near+San+Francisco,+CA,+United+States&amp;aq=0&amp;oq=twitter+san+fra&amp;sll=37.0625,-95.677068&amp;sspn=49.043149,74.443359&amp;ie=UTF8&amp;hq=&amp;hnear=Twitter+Bldg,+Market+St,+San+Francisco,+California+94103&amp;ll=37.776606,-122.416728&amp;spn=0.00301,0.004544&amp;t=m&amp;z=14&amp;output=embed">
                                        </iframe>
                                        <br />
                                        <a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=twitter+near+San+Francisco,+CA,+United+States&amp;aq=0&amp;oq=twitter+san+fra&amp;sll=37.0625,-95.677068&amp;sspn=49.043149,74.443359&amp;ie=UTF8&amp;hq=&amp;hnear=Twitter+Bldg,+Market+St,+San+Francisco,+California+94103&amp;ll=37.776606,-122.416728&amp;spn=0.00301,0.004544&amp;t=m&amp;z=14"
                                            target="_blank">View Larger Map</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row unit-block">
                    <div class="span9 unit-bg">
                        <div class="unit footer">
                            <ul class="pull-right">
                                <li><a href="about.html">About</a></li>
                                <li><a href="terms.html">Terms &amp; Privacy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                            <span class="copyright">© 2012 Dealstrap. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/jquery/js/jquery-1.8.1.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap-transition.js"></script>
    <script src="assets/bootstrap/js/bootstrap-alert.js"></script>
    <script src="assets/bootstrap/js/bootstrap-modal.js"></script>
    <script src="assets/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="assets/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="assets/bootstrap/js/bootstrap-tab.js"></script>
    <script src="assets/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="assets/bootstrap/js/bootstrap-popover.js"></script>
    <script src="assets/bootstrap/js/bootstrap-button.js"></script>
    <script src="assets/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="assets/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="assets/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="assets/fancybox/jquery.fancybox.pack.js"></script>
    <script src="assets/backstretch/js/jquery.backstretch.min.js"></script>
    <script src="assets/app/js/script.js"></script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279705068712379";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>
