<body> 
    <div class="container">
        <div class="row">
            <div class="span9">
                <div class="row unit-block">
                    <div class="span9 unit-bg">
                        <div class="unit">
                            <legend>
                                <img src="assets/app/img/glyphicons_248_asterisk.png" alt="deal">
                                Today's Deal</legend>
                            <ul class="nav nav-pills">
                                <li class="active"><a href="list.html">All</a></li>
                                <li><a href="list.html">Dining</a></li>
                                <li><a href="list.html">Activities & Events</a></li>
                                <li><a href="list.html">Health & Beauty</a></li>
                                <li><a href="list.html">Products</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row unit-block">
                    <div class="span9 unit-bg">
                        <div id="myCarousel" class="carousel slide" data-interval="3000">
                            <!-- Carousel items -->
                            <div class="carousel-inner">
                                <div class="active item">
                                    <img src="/images/banner3.jpg" alt="banner1">
                                    <div class="carousel-caption">
                                        <h4>
                                            First Thumbnail label</h4>
                                        <p>
                                            Description</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/banner2.jpg" alt="banner2">
                                    <div class="carousel-caption">
                                        <h4>
                                            Second Thumbnail label</h4>
                                        <p>
                                            Description</p>
                                    </div>
                                </div>
                                <div class="item">
                                    <img src="/images/banner3.jpg" alt="banner3">
                                    <div class="carousel-caption">
                                        <h4>
                                            Third Thumbnail label</h4>
                                        <p>
                                            Description</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail unit-bg">
                                    <a href="post.html">
                                        <img src="assets/app/img/deal1.jpg" alt="deal1" width="100%"></a>
                                    <div class="caption">
                                        <h4>
                                            Yum Hamburger</h4>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                            porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                        <p>
                                            <span class="view-deal"><a href="post.html" class="btn btn-large btn-success">View&nbsp;<i
                                                class="icon-chevron-right icon-white"></i></a></span><span class="help-inline text-highlight-small">
                                                    $30</span> <span class="help-inline text-strike">$70</span>
                                        </p>
                                        <hr>
                                        <small><i class="icon-tag"></i>&nbsp;2 Purchased&nbsp;&nbsp;<i class="icon-time"></i>&nbsp;2
                                            Days Remaining</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <ul class="thumbnails">
                            <li class="span3">
                                <div class="thumbnail unit-bg">
                                    <a href="post.html">
                                        <img src="assets/app/img/deal4.jpg" alt="deal4" width="100%"></a>
                                    <div class="caption">
                                        <h4>
                                            Tropical Beach</h4>
                                        <p>
                                            Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi
                                            porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                        <p>
                                            <span class="view-deal"><a href="post.html" class="btn btn-large btn-success">View&nbsp;<i
                                                class="icon-chevron-right icon-white"></i></a></span><span class="help-inline text-highlight-small">
                                                    $100</span> <span class="help-inline text-strike">$210</span>
                                        </p>
                                        <hr>
                                        <small><i class="icon-tag"></i>&nbsp;10 Purchased&nbsp;&nbsp;<i class="icon-time"></i>&nbsp;2
                                            Days Remaining</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row unit-block">
                    <div class="span9 unit-bg">
                        <div class="unit footer">
                            <ul class="pull-right">
                                <li><a href="about.html">About</a></li>
                                <li><a href="terms.html">Terms &amp; Privacy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                            <span class="copyright">© 2014 Today's Food Deals. All rights reserved.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="app/assets/javascripts/jquery-1.8.1.min.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-transition.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-alert.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-modal.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-dropdown.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-tab.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-tooltip.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-popover.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-button.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-collapse.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-carousel.js"></script>
    <script src="app/assets/javascripts/bootstrap/bootstrap-typeahead.js"></script>
    <script src="app/assets/javascripts/jquery.fancybox.pack.js"></script>
    <script src="app/assets/javascripts/jquery.backstretch.min.js"></script>
    <script src="app/assets/javascripts/script.js"></script>
    <!-- facebook -->
    <div id="fb-root">
    </div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s);
            js.id = id; js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=279705068712379";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>
</body>
