<div class="row unit-footer">
        <div class="span9 unit-bg">
                <div class="unit footer">
                        <ul class="pull-right">
                                <li><a href="about.html">About</a></li>
                                <li><a href="terms.html">Terms &amp; Privacy</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                        </ul>
                        <span class="copyright">© 2014 Today's Food Deals. All rights reserved.</span>
                </div>
        </div>
</div>