<div class="navbar navbar-static-top">
        <div class="container">
            <div class="navbar-form well pull-right unit-bg">
                <div class="login-input pull-left">
                    <input class="span2" type="text" placeholder="Email">
                    <input class="span2" type="password" placeholder="Password">
                </div>
                <ul class="signup nav pull-right">
                    <li>
                        <button type="submit" class="btn btn-primary">
                            Log in</button></li>
                    <li class="dropdown btn-group">
                        <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                            Sign up <span class="caret"></span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            <form style="margin-bottom: 0">
                            <p>
                                <input type="text" placeholder="Email"></p>
                            <p>
                                <input type="password" placeholder="Password"></p>
                            <p>
                                <input type="text" placeholder="Username"></p>
                            <p>
                                <input class="btn btn-success" type="submit" value="Start"></p>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
 </div>
 <div class="container-span3">
        <div class="row-span3">
            <div class="span3">
                <div class="well unit-bg">
                    <a href="list.html">
                        <img src="assets/app/img/logo.png" alt="logo" width="100%"></a>
                </div>
                <div class="well unit-bg">
                    <ul class="nav nav-list">
                        <li class="active"><a href="list.html"><i class="icon-asterisk"></i>&nbsp;Today's Deal</a></li>
                        <li><a href="list.html"><i class="icon-headphones"></i>&nbsp;Products</a></li>
                        <li><a href="list.html"><i class="icon-briefcase"></i>&nbsp;Escapes</a></li>
                        <li><a href="list.html"><i class="icon-tag"></i>&nbsp;Past Deals</a></li>
                        <li><a href="#"><i class="icon-comment"></i>&nbsp;Discussion</a></li>
                        <li class="divider"></li>
                        <li><a href="contact.html"><i class="icon-question-sign"></i>&nbsp;Help</a></li>
                    </ul>
                </div>
                <div class="well unit-bg">
                    <p>
                        <i class="icon-envelope"></i>&nbsp;Get Deal Alerts</p>
                    <div class="input-append">
                        <input class="span2" id="inputEmail" type="text" placeholder="Enter your email">
                        <button class="btn" type="button">
                            OK</button>
                    </div>
                </div>
                <div class="well unit-bg">
                    <p>
                        <i class="icon-heart"></i>&nbsp;Follow Us</p>
                    <ul class="unstyled social">
                        <li>
                            <div class="fb-like-box" data-href="http://www.facebook.com/pages/Twitter/278029242253904"
                                data-width="292" data-show-faces="false" data-stream="false" data-header="false">
                            </div>
                        </li>
                        <li>
                            <ul class="unstyled socialicons">
                                <li class="Facebook"><a href="#" title="Facebook">Facebook</a></li>
                                <li class="Twitter"><a href="#" title="Twitter">Twitter</a></li>
                                <li class="Pinterest"><a href="#" title="Pinterest">Pinterest</a></li>
                                <li class="RSS"><a href="#" title="RSS">RSS</a></li>
                                <li class="Email"><a href="#" title="Email">Email</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>     
</div>        